<%= form_with model: [:admin, @account], local: true do |form| %>
  <%= render 'components/form_errors', object: @account %>

  <h2>Account</h2>
  
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= link_to 'Cancel', admin_accounts_path %>
    <%= form.submit 'Save' %>
  </div>
<% end %>
