<h1>Accounts</h1>
<p>A list of all accounts in your system.</p>
<div>
  <%= link_to 'Create new account', new_admin_account_path %>
</div>
<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">
        <span>Actions</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.name %></td>
        <td>
          <%= link_to 'Show', admin_account_path(account) %>
          <%= link_to 'Edit', edit_admin_account_path(account) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
