<div>
  <div>
    <h1>Account: <%= @account.name %></h1>
    <p>Account Details</p>
  </div>
  <div>
    <%= link_to edit_admin_account_path(@account) do %>
      Edit Account
    <% end %>
    <%= link_to admin_accounts_path do %>
      All Accounts
    <% end %>
  </div>

  <hr />

  <div>
    <h2>
      Account Information
    </h2>
    <div>
      <div>
        <p>Account Name</p>
        <p><%= @account.name %></p>
      </div>
      <div>
        <p>Created On</p>
        <p><%= @account.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>

    <hr/>

    <div>
      <%= render 'admin/subscriptions/subscriptions', subscriptions: @account.subscriptions %>
    </div>

    <hr />

    <div>
      <%= render 'admin/license_assignments/license_assignments', license_assignments: @account.license_assignments.includes(:user, :product).order(created_at: :desc) %>
    </div>
  </div>
</div>
